node_modules/
.DS_Store
tests/__pycache__/
db.sqlite3
.coverage
ioproject/__pycache__/
karcianki/__pycache__/
karcianki/migrations/
__pycache__/
coverage/
io/
yarn-error.log
yarn.lock
package-lock.json
admin/
rest_framework/

# Text backup files
*.bak

# Database
*.sqlite3