<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <!-- <link rel="stylesheet" href="../login.css"> -->
    <meta name="viewport" content="width=device-width">
    <title>Tysiąc - dołącz</title>
</head>

<body>
    <header>
        KARCIANKI
    </header>
    <div class="panel" id="tysiac">
        <div class="game_form">
            <div class="game_name">
                TYSIĄC
            </div>
            <form method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                    <p class="error"> {{ form.non_field_errors }} </p>
                {% endif %}

                {% for field in form %}
                    {% if field.errors %}
                        <p> {{ field.errors}} </p>
                    {% endif %}

                    {{ field.label_tag }} <br>
                    {{ field }}

                    {% if field.help_text %}
                        <p> {{ field.help_text }} </p>
                    {% endif %}
                    <br>
                {% endfor %}

                <button type="submit">Dołącz do gry</button>
            </form>
        </div>
    </div>
    <div class="game_info">
        Dołączyłeś do gry o numerze:
        <h1>1234567890</h1>
        Twój nick to:<br>
        <h3>xyz</h3>
        Pozostali gracze:
        <div class="gamers">
            <div class="gamer_nick">abc</div>
            <div class="gamer_nick">def</div>
            <div class="gamer_nick">ghi</div>
        </div>
    </div>
    <div class="game_info">
        Podałeś niepoprawny numer gry<br>
        Spróbuj ponownie
    </div>
</body>

</html>