<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <!-- <link rel="stylesheet" href="../login.css"> -->
    <meta name="viewport" content="width=device-width">
    <title>Brydż - stwórz grę</title>
</head>
<body>
    <header>
        KARCIANKI
    </header>
    <div class="panel" id="brydz">
        <div class="game_form">
            <div class="game_name">
                BRYDŻ
            </div>
            Liczba graczy:<br><br>
            4<br><br>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.errors %}
                        <p> {{ field.errors}} </p>
                    {% endif %}

                    {{ field.label_tag }} <br>
                    {{ field }}

                    {% if field.help_text %}
                        <p> {{ field.help_text }} </p>
                    {% endif %}
                    <br>
                {% endfor %}

                <button type="submit">Stwórz grę</button>
            </form>
        </div>
    </div>
    <div class="game_info">
        Twój numer gry to:
        <h1>1234567890</h1>
        Twój nick to:<br>
        <h3>xyz</h3>
        Podaj numer pozostałym graczom, aby dołączyli do gry<br><br>
        Gracze:
        <div class="gamers">
            <div class="gamer_nick">abc</div>
            <div class="gamer_nick">def</div>
            <div class="gamer_nick">ghi</div>
        </div>
    </div>
</body>
</html>