<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="../login.css"> -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <meta name="viewport" content="width=device-width">
    <title>Brydż - dołącz</title>
</head>
<body>
    <header>
        KARCIANKI
    </header>
    <div class="panel" id="brydz">
        <div class="game_form">
            <div class="game_name">
                BRYDŻ
            </div>
            <form method="post">
                {% csrf_token %}
                <label for="game_number">Podaj numer gry:</label><br>
                {{form.board_number}} <br>
                <!-- <input type="number" id="game_number" name="game_number" placeholder="##########" required><br> -->
                <label for="nick">Podaj swój nick:</label><br>
                {{ form.nickname }} <br>
                <!-- <input type="text" id="nick" name="nick" pattern="[A-Za-z0-9]{4,10}" placeholder="Nick gracza" required><br> -->
                <p>Twój nick powinien zawierać tylko małe litery i mieć długość od 4 do 10 znaków</p>
                <button type="submit">Dołącz do gry</button>
            </form>
        </div>
    </div>
    <div class="game_info">
        Dołączyłeś do gry o numerze:
        <h1>1234567890</h1>
        Twój nick to:<br>
        <h3>xyz</h3>
        Pozostali gracze:
        <div class="gamers">
            <div class="gamer_nick">abc</div>
            <div class="gamer_nick">def</div>
            <div class="gamer_nick">ghi</div>
        </div>
    </div>
    <div class="game_info">
        Podałeś niepoprawny numer gry<br>
        Spróbuj ponownie
    </div>
</body>
</html>