/* stylelint-disable media-feature-name-no-unknown */
@import url("style.css");

.game_form {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--theme-color);
    padding: 1em;
    color: white;
    box-shadow: 0px 0px 5px black;
    max-width: 80%;
    max-height: 80%;
}

.game_form button {
    background-color: var(--second-color);
    margin: 0;
    font-weight: 00;
}

.game_name {
    margin: 0;
    font-size: 2em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-weight: lighter;
}

.game_form input {
    margin: 0.5em;
    height: 1.5em;
    width: auto;
}

.game_form p{
    padding: 0;
    color: gray;
}

.game_form .submit {
    margin: 0.5em;
    height: 2em;
    width: 100px;
}

.game_form ul {
    list-style: none;
    color: red;
}

.game_info {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    background-color: grey;
    text-align: center;
    padding: 3em;
    display: none;
}
.gamers {
    display: flex;
    align-content: center;
    justify-content: center;
}

.gamer_nick {
    width:max-content;
    height: max-content;
    background-color: white;
    margin: 5px;
    padding: 0.5em;
}

#brydz{
    height: 100%;
    width: 100%;
    grid-area: unset;
    position: absolute;
}

#poker{
    height: 100%;
    width: 100%;
    grid-area: unset;
    position: absolute;
}

#tysiac{
    height: 100%;
    width: 100%;
    grid-area: unset;
    position: absolute;
}

header{
    position: absolute;
}

@media only screen and ((max-width: 800px) or (max-height: 800px)) {
    body {
        font-size: 0.5em;
    }

    .game_form input {
        height: 1em;
    }

}