<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/brydz.css' %}">
    <meta name="viewport" content="width=device-width">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://kit.fontawesome.com/f741e76120.js" crossorigin="anonymous"></script>
    <title>Brydż</title>
</head>

<body>

    <header>
        BRYDŻ<br>
        Numer gry: {{ game_id }}
        <button type="submit" aria-label="info"><span class="fa-solid fa-question"></span></button>
    </header>

    <div class="page">
        <div class="plansza">
            <div class="rzad">
                <div class="gracz" id="gracz3">
                    <span class="fa-solid fa-circle-user ikona"></span>
                    <div class="dane">
                        Krzysio
                        <br>
                        830
                    </div>
                </div>

            </div>
            <div class="rzad" id="ze_stolem">
                <div class="gracz" id="gracz1">
                    <span class="fa-solid fa-circle-user ikona"></span>
                    <div class="dane">
                        Mikołaj
                        <br>
                        1000
                    </div>
                </div>
                <img src="{% static 'images/stol.png' %}" class="stol" alt="">
                <div class="gracz" id="gracz2">
                    <span class="fa-solid fa-circle-user ikona"></span>
                    <div class="dane">
                        Karol
                        <br>
                        400
                    </div>
                </div>
            </div>
            <div class="rzad">
                <div class="gracz" id="gracz4">
                    <span class="fa-solid fa-circle-user ikona"></span>
                    <div class="dane">
                        Mateusz
                        <br>
                        0
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="zasady">
        Gra rozpoczyna się od rozdania 13 kart każdemu z graczy. Osoby siedzące naprzeciwko siebie stanowią pary (są w
        jednej drużynie).
        <ol class="etapy">
            <li>Licytacja<br>
            Licytację rozpoczyna osoba rozdająca karty, a następnie licytują kolejne osoby zgodnie z ruchem wskazówek
            zegara. Ta faza rozgrywki kończy się wraz z trzema kolejnymi pasami.
            Każdy gracz w tej fazie ma dwie opcje: pas lub odzywka. Każda odzywka składa się z cyfry (tzw. "poziomu"),
            odpowiadającej całkowitej liczbie lew (patrz B. Rozgrywka), które dany gracz deklaruje zebrać (6 + podana
            cyfra), oraz koloru (tzw. "atutu"), wskazującego kolor atutowy (lub wskazuje jego brak - "bez atu").
            Każda odzywka musi być większa od poprzedniej, tzn. deklarować większą liczbę lew lub tę samą liczbę lew i
            starszy kolor niż poprzednia odzywka.
            </li>
            <li>Rozgrywka<br>
            Po zakończeniu się licytacji, rozpoczyna się druga faza rozgrywki, w której gracze dzielą się na 3
            kategorie:
            <ol>
                <li>"Rozgrywający" - osoba, która jako pierwsza z pary, która wygrała licytację wskazała w licytacji
                    końcowy atut.</li>
                <li>"Dziadek" - partner rozgrywającego</li>
                <li>"Obrona" - drużyna przeciwna</li>
            </ol>
            </li>
        </ol>
        Grę rozpoczyna osoba siedząca po lewej od rozgrywającego. Po rozpoczęciu przez nią tury, dziadek odsłania swoje
        karty.
        Każda tura w tej fazie wygląda następująco:
        <ol>
            <li>Osoba, która wygrała poprzednią turę wykłada na stół jedną kartę.</li>
            <li>Zgodnie z ruchem wskazówek zegara, każda pozostała osoba wykłada po jednej karcie na stół, z czego
                rozgrywający podejmuje decyzję za dziadka. Każda osoba ma obowiązek dołożyć kartę tego samego koloru
                (chyba że takiej nie posiada).</li>
            <li>Osoba z najwyższą kartą koloru podanego przez pierwszą osobę wygrywa. Wyjątkiem jest przypadek, w którym
                jedna z pozostałych osób wyłożyła kolor atutowy - w tym przypadku wygrywa osoba z najwyższą kartą koloru
                atutowego.</li>
            <li>Cztery karty znajdujące się na stole (tzw. lewa) zostają zabrane przez parę, która wygrała tę turę.</li>
        </ol>
        Rozgrywka toczy się aż do wyłożenia wszystkich kart przez graczy. Następnie podliczane są lewy zebrane przez
        każdą z par i zgodnie z <a href="https://pl.wikipedia.org/wiki/Bryd%C5%BC#Punktacja">zasadami</a> obliczane są
        punkty zdobyte przez każdą z nich w danym rozdaniu.
    </div>
    <div class="opcje">
        <div class="pass">
            <button type="submit"> Pass </button>
        </div>
        <div class="wybor">
            <div class="lewy">
                <button type="submit"> 1 </button>
                <button type="submit"> 2 </button>
                <button type="submit"> 3 </button>
                <button type="submit"> 4 </button>
                <button type="submit"> 5 </button>
                <button type="submit"> 6 </button>
                <button type="submit"> 7 </button>
            </div>
            <div class="atut">
                <button type="submit"> <img src="{% static 'images/clubs.png' %}" alt="trefl" width="30" height="30"> </button>
                <button type="submit"> <img src="{% static 'images/diamonds.png' %}" alt="karo" width="30" height="30"> </button>
                <button type="submit"> <img src="{% static 'images/hearts.png' %}" alt="kier" width="30" height="30"> </button>
                <button type="submit"> <img src="{% static 'images/spades.png' %}" alt="pik" width="30" height="30"> </button>
                <button type="submit"> BA </button>
            </div>
        </div>
    </div>
    <div class="wyniki">
        Zwycięzca:
        <div class="wygrany">
            Imię
        </div>
    </div>

    <script>
        $('header button').click(function () {
            $('.zasady').toggleClass("show");
        });
    </script>
</body>

</html>