@import "style.css";

.opcje {
    display: grid;
}

.opcje div button {
    border-radius: 5px;
    height: max-content;
    font-size: 2em;
}

.opcje .atut img{
    width: 20px;
    border: 0;
}

.opcje div {
    display: flex;
}

.opcje .pass button {
    background-color: red;
}