@import "gry.css";

.opcje {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.opcje .pass {
    height: 100%;
}
.opcje button{
    height: 30px;
}

.opcje .lewy button {
    width: 70px;
}

.opcje .atut button {
    width: 100px;
}

.opcje .pass button {
    background-color: red;
    height: 65px;
    width: 100px;
}

.opcje .wybor {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.opcje .wybor >  div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: stretch;
    gap: 5px;
}

@media only screen and (max-width: 768px) {
    .opcje {
        overflow: scroll;
        padding-right: 0;
        justify-content: center;
    }
}

img {
    object-fit: contain;
}

