/* stylelint-disable media-feature-name-no-unknown */
@import "gry.css";

.opcje {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.opcje .pass {
    height: 100%;
}
.opcje button{
    height: 30px;
}

.opcje button span {
    font-size: 50%;
    color: black;
}

.opcje .lewy button {
    width: 70px;
}

.opcje .atut button {
    width: 100px;
}

.opcje .pass button {
    background-color: red;
    height: 65px;
    width: 100px;
}

.opcje .wybor {
    display: flex;
    flex-direction: column;
    gap: 5px;
    object-fit: scale-down;
}

.opcje .wybor >  div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    align-items: stretch;
    gap: 5px;
}

img {
    object-fit: scale-down;
}

a {
    color: var(--second-color);
}

ol.etapy{
    list-style-type: upper-alpha;
}

@media only screen and ((max-width: 800px) or (max-height: 800px)) {
    .opcje {
        gap: 25px;
    }

    .opcje .wybor button {
        width: 25px;
        height: 25px;
    }
    
    img {
        width: 100%;
        height: 100%;
    }

    .opcje .pass button {
        height: 55px;
        width: 50px;
    }
        
    .opcje .wybor >  div {
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (orientation:landscape) and ((max-width: 800px) or (max-height: 800px)){
    .opcje .wybor {
        flex-direction: row;
        gap: 25px;
    }

    .opcje .pass button {
        height: 25px;
    }
}

